.containerCentrado {
    text-align: center;
}
.container {
    margin : 0 auto ;
    margin-bottom: 3rem;
}
.containerFondo {
    background-color: $containerColor ;
}

.tarjetaLocales {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 7px;
}

.contenedorLocales {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    background-color: $containerColor;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.imgLocales {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sectionAboutUs {
    display: flex;
    flex-direction: row;
    align-items: center;

    .cardParrafo {
        width: 90%;

        .cardConocenos {
            background-color: $containerColor;
            border-radius: 10px;
            border: 20px $containerColor solid;
        }
    }

    .imgConocenos {
        border-radius: 10px;
        width: 100%;
    }

    .contenido {
        margin: 10px;
    }
}

@media (min-width: 768px) {
    .tarjetaLocales {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 890px) {
    .sectionAboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}