form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    padding: 20px;

    .label {
        display: block;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    .input {
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 15px;
        transition: width 1s;
    }

    .btns {
        display: flex;
        gap: 10px;

        .btn {
            cursor: pointer;
            background-color: black;
            color: white;
        }
    }
}

@media(min-width:768px) {
    .formulario .input {
        width: 50%;
    }
}

@media(min-width:992px) {
    .formulario .input {
        width: 40%;
    }
}