header {
	&.navbar {
		a {
			text-transform: uppercase;
			color: white;
			margin-left: 10px;
		}
	}
	&.headerFixed {
		position: sticky;
		width: 100%;
		top: 0;
		z-index: 1000;
	}
	&.fondo {
		background-color: #353434d2;
	}
	a {
		.logoHeader {
			width: 80px;
		}
	}
}