.titulos {
	text-align: center;
	background-color: black;
	color: rgba(219, 149, 18, 0.993);
	text-transform: uppercase;
	font-weight: bolder;
}
.subTitulos {
	background-color: black;
	color: rgba(219, 149, 18, 0.993);
	font-weight: bolder;
}
